*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    text-align: center;
}
table th{
    background-color: bisque;
    padding: 5px;
}
table td{
    width: 80px;
    height: auto;
    padding: 5px;
}
.HDH{
    background-color: blue;
}
.csdl{
    background-color: brown;
}
.web{
    background-color: greenyellow;
}
.tkcsdl{
    background-color: yellow;
}
.ltdt{
    background-color: pink;
}