* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.form-container {
    width: 500px;
    padding: 10px;
    border: 1px solid #000000;
    margin: 10px;
    background-color: antiquewhite;
}

.form-container p {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

.form-container table {
    margin: auto;
    width: 450px;
}

.form-container table tr td {
    padding: 5px;
}

.form-container table tr td input,
.form-container table tr td select {
    width: 95%;
    padding: 2px;

}

.form-container table .note {
    min-height: 50px;

}

.form-container table .note input {
    height: 100px;
    width: 95%;
    overflow: auto;
}

.form-container .customer-amount {
    position: relative;
    border: 1px solid black;
    padding: 12px 5px 5px 5px;
    margin: 10px 5px;
    width: 60%;
    

}

.customer-amount-title {
    position: absolute;
    top: -12px;
    left: 20px;
    z-index: 1000;
    background-color :antiquewhite
}
.form-container .customer-input-form{
    display: flex;
}
.form-container .customer-input {
    width: 50px;
    padding: 5px;
    margin: 0 5px;
    height: 20px;
}

.form-container table tr .sign-up-box {

   text-align: center;
}

.info-register{
    display: block;
}
.tour-info, .amount-info{
    display: none;
    padding: 5px;
    border: 1px solid #000000;
    margin: auto;
}
.tour-info th{
    text-align: center;
    font-weight: bold;
}
.tour-info table tr td{
    padding: 5px;
    margin: 5px;
}
.amount-info-row {
    display: flex;
    justify-content: space-around;
}
.amount-info-row div{
    width: 100px;
    padding: 5px;
}