* {
    padding: 0;
    margin: 0;
}


form {
    height: 150px;
    width: 300px;
    background: rgb(125, 163, 192);
    padding: 5px;
}

form p {
    font-weight: bold;
    width: auto;
    text-align: center;
    padding: 5px;
}

form .term {
    margin: 5px;
}

form .term input {
    margin-left: 20px;
}

.btn-list {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.btn-list input {
    width: 40px;
    margin: 5px;
}
.res{
    margin : 5px;
}
.res input {
    margin-left: 20px;
}