* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-bottom: 20px;
}

form table {
    background-color: greenyellow;
}

form table .table-title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;

}

form table tr td {
    padding: 5px;
}

form table tr td select option {
    padding: 5px;
    margin: 1px;
}

form table .calculate-bill-btn {
    text-align: center;
}

form table tr td .calculate-bill-btn button {
    margin: auto;
}

.bill-info-container{
    display: none;
}
.bill-info-container table{
    background-color: aqua;
}
.bill-info-container table tr th{
    font-weight: bold;
    text-align :center;
    color: blue;
}
.bill-info-container table tr td {
   width: 200px;
   padding: 5px;
}
.bill-info-container table tr th {
    width: 200px;
   
}